@import "Site-Colours.css";

body{
    background-color: var(--eerieblack);
}

.navbar {
    background-color: var(--amethyst);
}
.navbar-brand {
    color: var(--eerieblack);
    font-family: "M PLUS Rounded 1c", sans-serif;
}

.nav-item {
    color: var(--eerieblack);
    font-family: "M PLUS Rounded 1c", sans-serif;
}

.nav-item, .nav-link {
color: var(--eerieblack);
}
.nav-item, .nav-link:active {
color: chartreuse;
}

.button {
    color: var(--indigo);
    background-color: transparent;
    border: 1px;
    border-style: solid;
    border-radius: 10px;
    border-color: var(--indigo);
    margin-left: 10px;
}
.button:hover {
    background-color: var(--indigo);
}