@import "Site-Colours.css";

body{
    background-color: var(--eerieblack);
}

.navbar {
    background-color: var(--amethyst);
}
.navbar-brand {
    color: var(--eerieblack);
    font-family: "M PLUS Rounded 1c", sans-serif;
}

.nav-item {
    color: var(--eerieblack);
    font-family: "M PLUS Rounded 1c", sans-serif;
}

.nav-item, .nav-link {
color: var(--eerieblack);
}
.nav-item, .nav-link:active {
color: chartreuse;
}