@import "Site-Colours.css";

body{
    height: 100%;
    background-image: linear-gradient(180deg,rgba(169, 82, 232, 1) 0%, rgba(33, 32, 32, 1) 37%);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}